.NftItem_wrap {
  width: 1200px;
  margin: 0px auto;
  padding:10px 50px;
  display: block;
  /* border:3px solid pink; */
}

.item_title {
  width: 300px;
  font-weight: 600;
  font-size: 28px;
  color: rgb(51,51,51);
  line-height: 35px;
  letter-spacing: -1px;
  text-align: center;
  margin: 0 auto;

   
}
.item_title:hover {
  color: greenyellow;
}
.post_button {
  width: 1000px;
  height: 70px;
  margin-right: 100px;
}

.order_bar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: right;
  text-align: center;
  width:1000px;
  /* border:1px solid gray; */
  /* margin-bottom:10px; */
}

.order_ul {
  position:relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.order_li {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  height: 24px;
  margin-left: 8px;
  font-size: 12px;
  color: rgb(153, 153, 153);
  cursor: pointer;
}


/* item grid */

.item_grid {
  display:flex;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap : 50px;
  width:1150px;
  margin:0 auto;
  /* border:1px solid red; */
}

.nft_item {
  flex: 0 0 300px;
  height: 650px;
  color:rgb(51,51,51);
  cursor:pointer;
}

.nft_item_img {
  box-sizing: border-box;
  margin: 0;
}

.nft_item_img_ {
  overflow: hidden;
  position: relative;
  background-color: rgb(245,245,245);
  width:350px;
  height: 350px;
}

.item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out 0s;
  border: 0;
  vertical-align: top;
}

.nft_item_txt {
  padding:10px 10px 15px 15px;
  
}

.nft_date {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.nft_item_date {
  font-size: 11px;
  color:gray;
}

.nft_name {
  font-size:20px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 9px;
  padding:0px;
  letter-spacing: normal;
}

.nft_user {
  align-items: center;
  display: flex;
  margin-bottom: 9px;
}

.nft_item_user {
  font-size:15px;
  margin-left : 10px;
}

.nft_price {
  font-size:17px;
  font-weight: 600;
}

.nft_item_views {
  font-size: 11px;
  color: gray;
  display: flex;
  justify-content: left;
}

.like_icon {
  color: gray;
  display: flex;
  justify-content: right;  
}